<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        <FilesMatch "\.(cur|gif|ico|jpe?g|png|svgz?|webp|js)$">
            Header add Access-Control-Allow-Origin http://trustedsite.com
            Header merge Vary Origin
        </FilesMatch>
    </IfModule>
</IfModule>
